body{
    margin: 0;
    padding: 0;
}

.background{
    background-color: #242333;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.signs{
    color: grey;
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 30px;
}

.screen{
    background-color: white;
    width: 160px;
    height: 100px;
    box-shadow: 0 0 20px white;
    transform: rotateX(60deg);
}

.sign_none,.sign_selected,.sign_occupied{
    margin-left: 20px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-color: white;
    color: white;
    border-radius: 10px 10px 0 0;
}

.sign_none{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0);
    font-size: 10px;
}

.sign_selected{
    background-color: #6FEAF6;
    color: #6FEAF6;
    font-size: 10px;
}

.sign_occupied{
    font-size: 10px;
}

.seat,.seat_occupied{
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px 10px 0 0;
    border:none;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 3px;
}

.seat_occupied{
    background-color: white;
}

.seat:focus{
    background-color: #6FEAF6;
    outline:none;
}

.seat_occupied{
    outline: none;
}

.status_number{
    color: #6FEAF6;
}